# --- SEGURIDAD (Crítico) ---
.env
**/.env
**/secrets.json

# --- PYTHON (Solo basura temporal) ---
**/__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# --- FRONTEND (Ocultamos lo pesado para que no pese el repo) ---
frontend/build/
frontend/.dart_tool/
frontend/android/
frontend/ios/
frontend/windows/
frontend/linux/
frontend/macos/
# Si quieres ocultar tu lógica de Flutter pero que se vea la carpeta:
frontend/lib/**/*

# --- CONFIGURACIÓN PERSONAL ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# --- CARPETAS VIEJAS ---
proyectoT/