# Secretos y Entorno
.env
**/.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Flutter / Android Studio
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/android/
**/ios/
**/windows/
**/linux/
**/macos/

# Carpetas duplicadas o viejas
proyectoT/